/* CSS for the container */
body, html {
    height: 100%;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

/* CSS for the images, turf logo, and team names */
.container img {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}

.container #turfName img {
    width: 100px;
    height: 100px;
    margin-right: 10px;
}

.container h2 {
    font-size: 20px;
    font-weight: bold;
}
